# Java / Maven
target/
!.mvn/wrapper/maven-wrapper.jar
*.class

# IDEs
.idea/
*.iml
.vscode/
.settings/
.classpath
.project
bin/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Application properties (optional: uncomment if you want to hide sensitive DB passwords)
# src/main/resources/application.properties
